.subheader {
  color: grey;
  font-family: var(--montserrat-font);
  font-weight: 400;
  margin-top: 12px;
  font-size: 0.95rem;
}

.header {
  font-size: 1.2rem;
  margin-top: 40px;
}

.topline {
  border-bottom: 1px solid #ebebeb;
}
