.wrapper {
  position: absolute;
  right: 0;
  top: 55px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px;
  border: 1px solid #ebebeb;
  gap: 30px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.close {
  font-family: var(--montserrat-font);
  font-weight: 600;
  font-size: 16px;
  color: rgb(34, 34, 34);
  text-decoration: underline;
  cursor: pointer;
}
