.toplinewrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: black;
}

.propertywrapper {
  display: flex;
  flex-direction: column;
}

.pricewrapper {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  color: black;
}

.location {
  line-height: 19px;
}

.stars {
  line-height: 19px;
}

.priceline {
  margin-top: 5px;
}
