.firstImg {
  width: 38.9vw;
  display: inline;
  height: 360px;
}

.otherImgContainer {
  display: grid;
  grid-template-columns: 51% 51%;
  width: calc(50vw - 180px);
  gap: 10px 0px;
  min-width: 300px;
}

.extraDiv {
  display: inline;
}

.secondSet {
  height: 175px;
  width: calc(100% - 10px);
}

.firstImgContainer {
  display: inline-block;
}

.flexDiv {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
