.reservationbutton {
  background-color: #d23757;
  color: white;
  border: none;
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: 16px;
  padding: 14px 24px;
  cursor: pointer;
  border-radius: 10px;
  width: 330px;
  margin-top: 15px;
}
