.container {
  border-radius: 20px;
  background-color: white;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  &:hover {
    filter: drop-shadow(0px 2px 1px #ebebeb);
  }
  transition: opacity 0.35s ease-in-out;
}

.containerSelected {
  opacity: 0;
}

.containerHidden {
  visibility: hidden;
}

.regionbutton {
  background-color: white;
  border: 0px solid white;
  font-family: var(--montserrat-font);
  font-weight: 600;
  font-size: 0.813rem;
  display: flex;
  align-items: center;
  padding: 9px 0px 9px 9px;
  margin: 0px;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}

.guestbutton {
  background-color: white;
  border: 0px solid white;
  font-family: var(--montserrat-font);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 0px;
  margin: 0px;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  color: grey;
}

.innerdiv {
  padding: 0px 20px;
  margin: 0px;
}

.innerline {
  height: 24px;
  width: 2px;
  background-color: #ebebeb;
  flex-basis: 1px;
  margin: 0px;
}

.searchbackground {
  background-color: #eb4c60;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
}
