.headerText {
  font-size: 1.5rem;
  color: black;
  font-family: var(--montserrat-font);
  font-weight: 600;
}

.subheaderText {
  font-size: 0.9rem;
  color: black;
  font-family: var(--montserrat-font);
  font-weight: 400;
  display: inline-block;
  margin-top: 7px;
}

.subheaderText2 {
  font-size: 0.9rem;
  color: black;
  font-family: var(--montserrat-font);
  font-weight: 500;
  display: inline-block;
  margin-left: 10px;
  margin-top: 7px;
}
